.hero {
    margin: -8px;
    background-image: url('https://picsum.photos/seed/picsum/200/300');
    background-size: cover;
    background-position: center;
    height: 500px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 50px;
}

.logo {
    font-size: 30px;
    font-weight: bold;
}

.items {
    display: flex;
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

li {
    margin: 0 15px;
}

a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.dropdown-menu {
    display: none;
    position: absolute;
    z-index: 1;
}

.dropdown:hover .dropdown-menu {
    display: block;
    cursor: pointer;
}

.dropdown-menu li {
    background-color: red;
    padding: 50px;
}

.logo a{
    font-size: 50px;
}
